<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find rrt_star_global_planner)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rrt_star_global_planner)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rrt_star_global_planner)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rrt_star_global_planner)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rrt_star_global_planner)/param/A_base_local_planner_params.yaml" command="load" />
    </node>

</launch>
